<div class="jumbotron">
  <h1 class="display-4">Simple Trivia</h1>
  <p class="lead">No Setup, Jump In and Play</p>
  <hr class="my-4">
  <p>Guess songs by the show or source they appear in. </p>
  <%= link_to "Play", trivia_simple_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="jumbotron">
  <h1 class="display-4">Curated Trivia</h1>
  <p class="lead">Only songs from 20XX? Or maybe popular ones only?</p>
  <hr class="my-4">
  <p>Choose from playlists before you start.</p>
  <%= link_to "Play", trivia_playlistselect_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="jumbotron">
  <h1 class="display-4">Custom Trivia</h1>
  <p class="lead">Play the way you want.</p>
  <hr class="my-4">
  <p>Customize trivia settings before you start.</p>
</div>