
    <% if !logged_in?  %>
    <div class="alert alert-warning" role="alert">
        Log In to earn points from playing!
    </div>
    <% end%>


<div class="card">

    <div class="card-body">
        <% if @params[:data][:answer].downcase == @song.source_name.downcase  %>
        <div class="alert alert-success" role="alert">
        Correct Answer!
        </div>
        <% else%>
        <div class="alert alert-danger" role="alert">
        Wrong Answer.
        </div>
        <% end%>
    </div>

   <div class="card-body">
        You guessed: <%= @params[:data][:answer] %>
        <br />
        Correct Answer: <%= @song.source_name %>
        <br/>
   </div>
   <div class="card-body">
        <%= link_to "View Song", @song, target: :_blank, class: "btn btn-sm btn-primary" %>
        <br/>
   </div>

</div>

  
<%= link_to "Guess another song", trivia_simple_path, class: "btn btn-lg btn-primary" %>