
<div class="well well-small">
  <div class="pull-right" data-intro="Reset the filter settings to defaults." data-position="bottom">
    <%= link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm' %>
  </div>
  <div class="chardin_box" data-intro="will_paginate's entries info works as expected." data-position="bottom">
    <%= page_entries_info songs, :model => 'song' %>
  </div>
</div>
<table class="table">
  <tr>
    <th>
      Source
    </th>
    <th>Song Type</th>
    <th>Song Title</th>
    <th>Song Artist</th>
    <th>Popularity <%# filterrific_sorting_link(@filterrific, :popularity) %></th>
    <th>Actions</th>
  </tr>
 <%= render @songs %>
</table>
<div class="chardin_box" data-intro="will_paginate's paginator works as expected." data-position="top">
  <%= will_paginate songs, renderer: BootstrapPagination::Rails %>
</div>
