<% provide(:title, 'All Playlists') %>
<h1>All Playlists</h1>

<% if logged_in?%>
<%= link_to "Add Playlist", new_playlist_path, class: "btn btn-small btn-primary" %>
<% end %>

<%= will_paginate %>

<table class="playlists table">
    <th>Name</th>
    <th>Description</th>
    <th>Creator</th>
    <th>Difficulty</th>
    <th>Plays</th>
    <th>Actions</th>
  <%= render @playlists %>
</table>

<%= will_paginate %>